<header class="header">
  <nav class="navbar navbar-default navbar-fixed-top visible" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" id="static-top-navbar-toggle-button" data-target="#static-top-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/" rel="home">
          <img src="/assets/avatar.jpg" alt="" class="avatar">
          oncletom.<small>io</small>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="static-top-navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/">Blog</a></li>
          <li class="active"><a href="/talks">Talks</a></li>
          <li><a href="/photos">Photos</a></li>
          <li><a href="/slash-me">About</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="post-cover" style="background-image: url(https://farm4.staticflickr.com/3751/11915201475_8f7fd3d7af_c_d.jpg)"></div>
</header>