@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?88569806');
  src: url('../font/fontello.eot?88569806#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?88569806') format('woff'),
       url('../font/fontello.ttf?88569806') format('truetype'),
       url('../font/fontello.svg?88569806#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?88569806#fontello') format('svg');
  }
}
*/

 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-camera-alt:before { content: '\e800'; } /* '' */
.icon-bookmark:before { content: '\e801'; } /* '' */
.icon-code:before { content: '\e802'; } /* '' */
.icon-quote-left:before { content: '\e803'; } /* '' */
.icon-rss:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-ellipsis:before { content: '\e807'; } /* '' */
.icon-pencil-squared:before { content: '\e808'; } /* '' */
.icon-instagramm:before { content: '\e809'; } /* '' */
.icon-twitter:before { content: '\e80a'; } /* '' */
.icon-beaker:before { content: '\e80b'; } /* '' */
.icon-tags:before { content: '\e80c'; } /* '' */
.icon-cancel-circled:before { content: '\e80d'; } /* '' */
.icon-ok-circled:before { content: '\e80e'; } /* '' */
.icon-chat:before { content: '\e80f'; } /* '' */
.icon-calendar-empty:before { content: '\e810'; } /* '' */
.icon-clock:before { content: '\e811'; } /* '' */
.icon-user:before { content: '\e812'; } /* '' */
.icon-users:before { content: '\e813'; } /* '' */
.icon-doc-text:before { content: '\e814'; } /* '' */
.icon-book:before { content: '\e815'; } /* '' */
.icon-location-2:before { content: '\e816'; } /* '' */
.icon-youtube-play:before { content: '\e817'; } /* '' */
.icon-github-circled:before { content: '\e818'; } /* '' */
.icon-layers:before { content: '\e819'; } /* '' */